<div class="bg-dark text-bg-dark py-2 px-3 rounded-2 mb-2">
  <div class="row">
    <div class="col-12 col-lg-12  ">
      <p class="m-0 fw-semibold fs-5"> {{ shoppingList.name }} </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-6 col-lg-8">
      <div class="d-flex">
        <p class="m-0 fw-semibold fs-6">Urgent</p>
        <input class="form-check-input ms-2" type="checkbox" [(ngModel)]="data.urgent" id="flexCheckDefault">
      </div>
    </div>
    <div class="col-6 col-lg-4 text-end">
      <div class="d-flex">
        <input type="number" class="form-control my-2 me-2" min="0" step="1" [(ngModel)]="data.count">
        <fa-icon class="fs-2 align-self-center me-1" [icon]="faSquareCheck" (click)="save()"></fa-icon>
      </div>
    </div>
  </div>
</div>
