################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingListOptimizerAPI/.vs/ShoppingListOptimizerAPI/v17/.suo
