<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">

      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <a href="#" class="navbar-brand">ShoppingListOptimizer</a>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="shopping-lists">My shopping lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn&&showAdmin" routerLink="profiles">Change requests</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/details-profile',userId]">{{ username+" role:"+roles[0] }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
