<div class="col-10 col-lg-10 offset-1 offset-lg-1 mt-4">

  <div *ngIf="(shoppingList | async) as shoppingList; else spinner">
    <div class="row">
      <p class="h1 mb-4 p-0">Select optimization options for {{ shoppingList.name }}</p>
    </div>
    <div class="row">
      <div class="mb-4 col-12 col-lg-6 p-0 order-lg-1 order-2">
        <div class="p-2 border-container">
          <label class="fw-semibold">Name</label>
          <p class="mb-2">{{ shoppingList.name }}</p>
          <label class="fw-semibold">Details</label>
          <p class="mb-2">{{ shoppingList.details }}</p>
          <label class="fw-semibold">Items in shopping list</label>
          <p class="mb-2">{{ shoppingList.shoppingListItems.length }}</p>
          <label class="fw-semibold">Urgent items in shopping list</label>
          <p class="mb-2">{{ countPriority }}</p>

          <div *ngIf="(maxShopDistance | async) as maxDistance; else spinner">
            <label for="distanceMaxSlider" class="form-label fw-semibold">Maximum distance (km)</label>
            <div class="d-flex align-items-center p-0">
              <div class="col-8 pe-1">
                <input type="range" id="distanceMaxSlider"
                       class="form-range"
                       min="0"
                       max="{{maxDistance+1}}" step="0.5" [(ngModel)]="form.distance">
              </div>
              <div class="col-4 ps-1">
                <input type="number" class="form-control mb-1"
                       id="distanceMaxText" min="0" max="{{maxDistance+1}}" step="0.5"
                       [(ngModel)]="form.distance">
              </div>
            </div>
          </div>

          <div class="d-flex d-inline align-items-center mb-2">
            <p class="m-0 me-4 fw-semibold">Only optimize for shops that are open now</p>
            <input class="form-check-input" type="checkbox" [(ngModel)]="form.openNow">
          </div>

          <div class="btn-group w-100" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                   [checked]="form.selectedMode==0" (click)="modeClicked(0)">
            <label class="btn btn-outline-dark" for="btnradio1">Has all items</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                   [checked]="form.selectedMode==1" (click)="modeClicked(1)">
            <label class="btn btn-outline-dark" for="btnradio2">Has all urgent items</label>
          </div>

          <div class="mt-4">
            <button class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center" (click)="submit()">
              <fa-icon class="fs-6 align-self-center me-2" [icon]="faMicroscope"></fa-icon>
              <p class="m-0 align-self-center">Optimize shopping list</p>
            </button>
          </div>

        </div>

        <div class="d-lg-block d-none mt-lg-4">
          <div class="col p-0" *ngIf="isSubmitted">

            <div *ngIf="(shopOptimizationResponse | async) as shopOptimizationResponse; else spinner">
              <app-optimizer-result-row *ngFor="let optimizedShop of shopOptimizationResponse"
                                        [optimizedShop]="optimizedShop"
                                        [mode]="form.selectedMode"></app-optimizer-result-row>


            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1 p-0 order-lg-2 order-1">
        <app-optimizer-list-item-row *ngFor="let shoppingListItem of shoppingList.shoppingListItems"
                                     [shoppingListItem]="shoppingListItem" [shoppingListId]="id"></app-optimizer-list-item-row>
      </div>
    </div>
    <div class="row d-lg-none">
      <div class="col p-0" *ngIf="isSubmitted">
        <div *ngIf="(shopOptimizationResponse | async) as shopOptimizationResponse; else spinner">
          <app-optimizer-result-row *ngFor="let optimizedShop of shopOptimizationResponse"
                                    [optimizedShop]="optimizedShop"
                                    [mode]="form.selectedMode"></app-optimizer-result-row>

        </div>
      </div>
    </div>


  </div>

  <ng-template #spinner>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-dark" role="status">
      </div>
    </div>
  </ng-template>

