<div class="col-10 col-lg-4 offset-1 offset-lg-4 mt-4">
  <p class="h1 mb-4 p-0">Add new item</p>
  <div class="border-container p-2">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="mb-2">
        <label for="barcode">Barcode</label>
        <input
          type="text"
          class="form-control"
          name="barcode"
          [(ngModel)]="form.barcode"
          required
          #barcode="ngModel"
        />
        <div class="alert alert-danger" *ngIf="barcode.errors && f.submitted">
          <div *ngIf="barcode.errors['required']">Barcode is required</div>
        </div>
      </div>

      <div class="mb-2">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          #name="ngModel"
        />
        <div class="alert alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['required']">Name is required</div>
          <div *ngIf="name.errors['minlength']">
            Name must be at least 3 characters
          </div>
        </div>
      </div>

      <div class="mb-2">
        <label for="details">Details</label>
        <input
          type="text"
          class="form-control"
          name="details"
          [(ngModel)]="form.details"
          #details="ngModel"
        />
        <div class="alert alert-danger" *ngIf="details.errors && f.submitted">
        </div>
      </div>

      <div class="mb-2">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          name="quantity"
          [(ngModel)]="form.quantity"
          required
          min="0"
          #quantity="ngModel"
        />
        <div class="alert alert-danger" *ngIf="quantity.errors && f.submitted">
          <div *ngIf="quantity.errors['required']">Quantity is required</div>
          <div *ngIf="quantity.errors['min']">
            Quantity must be greater than 0
          </div>
        </div>
      </div>

      <div class="">
        <label for="unit">Unit</label>
        <select
          type="text"
          class="form-control"
          name="unit"
          [(ngModel)]="form.unit"
          required
          #unit="ngModel"
        >
          <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="unit.errors && f.submitted">
          <div *ngIf="unit.errors['required']">Unit is required</div>

        </div>
      </div>


      <div class="mt-4">
        <button class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center">
          <fa-icon class="fs-6 align-self-center me-1" [icon]="faSquarePlus"></fa-icon>
          <p class="m-0 align-self-center pe-4">Add item</p>
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isAddFailed">
        Adding item failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Added item successfully!
    </div>
    <div class="mt-4" *ngIf="isSuccessful">
      <button class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center" [routerLink]="['/add-item-price', form.barcode]">
        <fa-icon class="fs-6 align-self-center me-1" [icon]="faTag"></fa-icon>
        <p class="m-0 align-self-center pe-4">Add price for item</p>
      </button>
    </div>

  </div>

</div>
