<form
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="barcode">Barcode</label>
    <input
      type="text"
      class="form-control"
      name="barcode"
      [(ngModel)]="form.barcode"
      required
      #barcode="ngModel"
    />
    <div class="alert alert-danger" *ngIf="barcode.errors && f.submitted">
      <div *ngIf="barcode.errors['required']">Name is required</div>
    </div>

  </div>
  <div>
    <zxing-scanner
      [formats]="formatsEnabled"
      [hidden]="!scanEnabled"
      [enable]="scanEnabled"
      [autofocusEnabled]="true"
      [tryHarder]="true"
      (scanSuccess)="onCodeResult($event)"
      (scanError)="scanErrorHandler($event)"
    ></zxing-scanner>
  </div>
</form>
<div class="form-group">
  <button [disabled]="addPriceShow" class="btn btn-secondary" (click)="onSubmit()">Get item</button>
  <button class="btn btn-secondary" (click)="rescan()">Scan again</button>
</div>
<div class="form-group">
  <button [disabled]="!addItemShow" class="btn btn-secondary"  [routerLink]="['/add-item',{id:form.barcode}]">Add item</button>
  <button [disabled]="!addPriceShow" class="btn btn-secondary" [routerLink]="['/add-item-price', form.barcode]">Add price</button>
</div>

