<div class="col-10 col-lg-10 offset-1 offset-lg-1 mt-4">

    <p class="h1 mb-4 p-0">Scan barcode</p>


  <div class="p-2 border-container">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="mb-2">
        <label for="barcode">Barcode</label>
        <input
          type="text"
          class="form-control"
          name="barcode"
          [(ngModel)]="form.barcode"
          required
          #barcode="ngModel"
        />
        <div class="alert alert-danger" *ngIf="barcode.errors && f.submitted">
          <div *ngIf="barcode.errors['required']">Name is required</div>
        </div>

      </div>
      <div class="">
        <zxing-scanner
          [formats]="formatsEnabled"
          [hidden]="!scanEnabled"
          [enable]="scanEnabled"
          [autofocusEnabled]="true"
          [tryHarder]="true"
          (scanSuccess)="onCodeResult($event)"
          (scanError)="scanErrorHandler($event)"
        >
        </zxing-scanner>
      </div>
    </form>

    <div class="mt-4">
      <button *ngIf="!itemFetched" [disabled]="addPriceShow" class="btn btn-outline-dark w-100 d-flex flex-nowrap justify-content-center" (click)="onSubmit()">
        <fa-icon class="fs-6 align-self-center me-2" [icon]="faCloudArrowDown"></fa-icon>
        <p class="m-0 align-self-center pe-4">Get item</p>
      </button>
      <button *ngIf="itemFetched" class="btn btn-outline-dark w-100 d-flex flex-nowrap justify-content-center" (click)="rescan()">
        <fa-icon class="fs-6 align-self-center me-2" [icon]="faRotateRight"></fa-icon>
        <p class="m-0 align-self-center pe-4">Scan again</p>
      </button>
    </div>
    <div *ngIf="itemFetched" class="d-flex justify-content-between mt-4">
      <button [disabled]="!addItemShow" class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center me-3" [routerLink]="['/add-item',{id:form.barcode}]">
        <fa-icon class="fs-6 align-self-center me-1" [icon]="faSquarePlus"></fa-icon>
        <p class="m-0 align-self-center">Add item</p>
      </button>
      <button [disabled]="!addPriceShow" class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center ms-3" [routerLink]="['/add-item-price', form.barcode]">
        <fa-icon class="fs-6 align-self-center me-1" [icon]="faTag"></fa-icon>
        <p class="m-0 align-self-center">Add price</p>
      </button>
    </div>
  </div>
</div>
