<div class="col-10 col-lg-10 offset-1 offset-lg-1 mt-4">
  <div class="row">
    <p class="h1 mb-4 p-0">Search shops</p>
  </div>
  <div class="row">
    <div class="mb-4 col-12 col-lg-4 p-0">
      <div class="p-2 border-container">
        <div class="mb-2">
          <label for="name" class="">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="form.name">
        </div>
        <div *ngIf="(maxShopDistance | async) as maxDistance; else spinner">
          <label for="distanceMaxSlider" class="form-label">Maximum distance (km)</label>
          <div class="d-flex align-items-center p-0">
            <div class="col-8 pe-1">
              <input  type="range" id="distanceMaxSlider"
                     class="form-range"
                     min="0"
                     max="{{maxDistance+1}}" step="0.5" [(ngModel)]="form.distance">
            </div>
            <div class="col-4 ps-1">
              <input type="number" class="form-control mb-1"
                     id="distanceMaxText" min="0" max="{{maxDistance+1}}" step="0.5"
                     [(ngModel)]="form.distance">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-secondary w-100 d-flex flex-nowrap justify-content-center" (click)="onSubmit()"><fa-icon class="fs-6 align-self-center me-2" [icon]="faMagnifyingGlass"></fa-icon><p class="m-0 align-self-center pe-4">Search</p></button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7 offset-lg-1 p-0">
      <div *ngIf="(shops | async) as shops; else spinner">
        <app-shop-row *ngFor="let shop of shops" [shop]="shop"  ></app-shop-row>
      </div>


    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-dark" role="status">
    </div>
  </div>
</ng-template>
