<div class="col-10 col-lg-4 offset-1 offset-lg-4 mt-4">
  <p class="h1 mb-4 p-0">Add price for item</p>
  <div class="border-container p-2">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="">
        <label for="barcode">Barcode</label>
        <input
          disabled
          type="text"
          class="form-control"
          name="barcode"
          [(ngModel)]="form.barcode"
          required
          #barcode="ngModel"
        />
        <div class="alert alert-danger" *ngIf="barcode.errors && f.submitted">
          <div *ngIf="barcode.errors['required']">Barcode is required</div>
        </div>
      </div>

      <div class="">
        <label for="shop">Shop</label>
        <select
          class="form-control"
          name="shop"
          [(ngModel)]="form.shop"
          required
          #shop="ngModel"
        >
          <option *ngFor="let shop of shops | async"
                  [value]='shop.id'>{{ shop.name+', '+shop.location.city + ', ' + shop.location.postcode + ', ' + shop.location.street + ', ' + shop.location.number }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="shop.errors && f.submitted">
          <div *ngIf="shop.errors['required']">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          name="price"
          [(ngModel)]="form.price"
          required
          #price="ngModel"
        />
        <div class="alert alert-danger" *ngIf="price.errors && f.submitted">
          <div *ngIf="price.errors['required']">Price is required</div>
        </div>
      </div>


      <div class="form-group mt-4">
        <button class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center">
          <fa-icon class="fs-6 align-self-center me-1" [icon]="faTag"></fa-icon>
          <p class="m-0 align-self-center pe-4">Add price</p>
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isAddFailed">
        Adding item price failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Added item price successfully!
    </div>
    <div class="mt-4" *ngIf="isSuccessful">
      <button class="btn btn-dark w-100 d-flex flex-nowrap justify-content-center" [routerLink]="['/home']">
        <fa-icon class="fs-6 align-self-center me-1" [icon]="faHouse"></fa-icon>
        <p class="m-0 align-self-center pe-4">Home</p>
      </button>
    </div>

  </div>

</div>
